*{padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;



}

*,*::before,*::after{
box-sizing: inherit;

}
.logo{padding-top: 10px;
    height: 100px;
    background: black;


}

.logo img{
    height: 75px;
    border-radius: 80%;
}

.Producto img{
height: 200px;
width: 300px;;

}
.submenu{
    position: relative;
    left: -20px;
}

.submenu #carrito{
    display: none;

}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    color: white;
    top: 100%;
    z-index: 1;
    background-color: tomato;
    
}

.vacio{


}
.Categorias{
    width: 300px;
    
    
    position: absolute;
background: green;

}

header{background: red;
width: 100%;
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;

}

a{
    text-decoration: none;
}

.submenu img{
height: 50px;

}

nav ul li{
display: inline-block;
line-height: 100px;

}

.Contenedor_Productos{
    position: ;
    background: maroon;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}